
<style>
  .col-btn{
    background-color: #343a40;
    color:lightgray;
  }
</style>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark top_nav">
    <a class="navbar-brand" href="index.html">KMI Tech</a>
    <button class="col-btn" type="button"  >
      <em>--menu</em>
    </button> 
  </nav>
  
  <script>
      $(".topnav_link").each(function(){
          $(this).removeClass("active"); 
          if(window.location.href.
          indexOf(window.location.origin +"/kminnovations.github.io/"+ $(this).attr("href")) >= 0){
            $(this).addClass("active"); 
          }
      });
      $(".col-btn").click(function(){
          $(".sidenav").toggleClass("sidenav_opened sidenav_collapsed"); 
          // $(".sidenav").toggleClass(""); 
          $(".main_body").toggleClass("main_body_so main_body_sc"); 
      });
  </script>